# Liveblocks (people & rooms, Yjs sync)
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=pk_dev_yheEU5z5b29Y9p60Xk6q6AJX1Nok6jheWyZDDndkWDjuLm9rG8Em-XtQa0Jf5eM_
LIVEBLOCKS_SECRET_KEY=sk_dev_jOxD8MRKLv2L8Q0QDcloDamE5oqT4XsHO_gInkwqAEyzzU8pDY1jDg1P9VxnXBXe

# LiveKit (video / WebRTC)
NEXT_PUBLIC_LIVEKIT_URL=wss://livecodeinterviewer-35za0zoz.livekit.cloud
LIVEKIT_API_KEY=APIhEEKAQBAq5Cy
LIVEKIT_API_SECRET=izqtjZdB2P3omeujnIcZDzjlAzmFpaFFLudO0N44gfJ



# Firebase (code storage)
NEXT_PUBLIC_FIREBASE_API_KEY=xxx
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xxx.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xxx
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xxx.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=xxx
NEXT_PUBLIC_FIREBASE_APP_ID=xxx
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-xxx

# Redis (memory & glue)
REDIS_URL=redis://localhost:6379

# OpenAI (LangChain / AI report generation)
OPENAI_API_KEY=sk-xxx

# Clerk (Authentication)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bW92aW5nLW1hY2tlcmVsLTQzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_EJIdPUka1v0R3R3ZgwNs5ryJPnkVTUHoacx9E2tfLp

# XTTS Text-to-Speech
XTTS_URL=http://45.198.59.91/tts/tts